@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font: 10pt 'Raleway', sans-serif;
    color: black;
    margin: 0;
    min-height: 100vh;
    background: white url(https://source.unsplash.com/uXtq8xGUX5U) center center/cover no-repeat;
    /*background-image: url("/images/mafia-background.jpg");*/

}

a {
    color: black;
    text-decoration: none;
}

.seznam {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
}

.vizitka {
    height: 18em;
    width: 32em;
    border: 1px solid gray;
    background-color: white;
    margin: 1em;
    padding: 1.5em;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.2s, transform 0.2s;
    border-radius: 15px;
    position: relative;
}

.vizitka--nova {
    background-color: #FFFFFF66;
    border: 3px dotted white;
    justify-content: center;
    align-items: center;
}

a:hover .vizitka {
    box-shadow: 10px 10px 10px black;
    transform: translate(-5px, -5px);
    transition: box-shadow 0.2s, transform 0.2s;
}

.jmeno {
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    margin: 1em 0 1em 0;
}

.firma {
    text-align: center;
    margin-bottom: 2em;
}

.udaje {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.kontakty {
    text-align: right;
}

.detail {
    min-height: 100vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.detail nav {
    margin: 1em;
    font-size: 150%;
}

/*.detail nav a {*/
/*    color: white;*/
/*}*/

.detail nav a:hover {
    text-decoration: underline;
}

.mapa {
    height: 18em;
    width: 40em;
    border: 1px solid gray;
    margin: 1em;
    box-shadow: 5px 5px 10px black;
}
/*******************************/
.foto{
    position: absolute;
    width: 80px;
    border: 2px solid black;
}
.foto, .foto-nova{
    border-radius: 10px;
}
.foto-nova {
    border-radius: 30%;
    width: 125px;
    border: 1px solid black;
    margin-bottom: 5px;
}
.input {
    border: 2px dashed pink;
    border-radius: 10px;
}
.adresa {
    display: inline-block;
    width: 50%;
}
.email {
    display: inline;
}
.vizitka-detail{
    width: 50em;
    height: 25em;
}

.first-container {
    display: flex;
    justify-content: space-between;
}
.container-jmeno {
    display: flex;
    align-items: center;
}
button a {
    text-decoration: none;
}
.btn-nav{
    display: inline-block;
}
.btn{
    padding:10px;
    color: black;
}
.detail nav a{
    color: black;
}
.detail nav a:hover{
    text-decoration: none;
}
.offer{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: darkred;
    font-weight: bolder;
}
/*.status {*/
/*    position: absolute;*/

/*    display: inline-block;*/
/*    border: 5px dot-dash darkred;*/
/*    top: -10px;*/
/*    right: -20px;*/
/*}*/
/*.ikona {*/
/*    display: inline-block;*/
/*    width: 100px;*/
/*    background-color: white;*/
/*    padding: 10px;*/
/*    border-radius: 50%;*/

/*}*/